{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M-Suite Admin</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
      integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="site-main">
    <!-- Header -->
    
    <!-- Body Content -->
    <main>
          <div class="d-flex align-items-start">           

            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <img class="img-fluid site-logo"src="{% static 'images/site-logo.png' %}"alt="Logo"/>
              
              <!-- Overview -->
              <button class="nav-link active" id="v-pills-overview-tab" data-bs-toggle="pill" data-bs-target="#v-pills-overview" 
              type="button" role="tab" aria-controls="v-pills-overview" aria-selected="true">Overview</button>
              
              <!-- Website Keyword Analysis -->
              <button class="nav-link" id="v-pills-website-keyword-tab" data-bs-toggle="pill" data-bs-target="#v-pills-website-keyword"
               type="button" role="tab" aria-controls="v-pills-website-keyword" aria-selected="false">Website Keyword Analysis</button>
              
               <!-- Brand Personility Audit -->
              <button class="nav-link" id="v-pills-brand-tab" data-bs-toggle="pill" data-bs-target="#v-pills-brand" 
              type="button" role="tab" aria-controls="v-pills-brand" aria-selected="false">Brand Personality Audit</button>
              
              <!-- Setiment Analysis -->
              <button class="nav-link" id="v-pills-sentiment-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sentiment" 
              type="button" role="tab" aria-controls="v-pills-sentiment" aria-selected="false">Youtube Analyzer</button>
              
              <!-- Profile Analyzer -->
              <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" 
              type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile Analyzer</button>
              
              <!-- Brand Authority -->
              <button class="nav-link" id="v-pills-authority-tab" data-bs-toggle="pill" data-bs-target="#v-pills-authority" 
              type="button" role="tab" aria-controls="v-pills-authority" aria-selected="false">Brand Authority</button>

              <img src="{% static 'images/side-nav-bottom.png' %}"alt="" class="bottom">

            </div>


            <div class="tab-content" id="v-pills-tabContent">
              
              <!-- Overview -->
              <div class="tab-pane fade show active" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">
                <div class="overview">
                  <div class="row">
                    <div class="col-6 col-md-6 col-lg-6">
                      <h2 class="sentiment-title">
                        Overview
                      </h2>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                      <div class="user">
                        <img src="{% static 'images/user.png' %}" alt="" class="aveter">
                       </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Website Keyword Analysis -->
              <div class="tab-pane fade" id="v-pills-website-keyword" role="tabpanel" aria-labelledby="v-pills-website-keyword-tab">
                <div class="website">
                  <div class="row">
                    <div class="col-12 col-md-10 col-lg-10">
                      <div class="title">
                        <h2 class="website-title">
                          Website Keyword Analysis
                        </h2>
                      </div>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2">
                      <div class="user">
                        <img src="{% static 'images/user.png' %}"alt="" class="aveter">
                       </div>
                    </div>
                  </div>
                  <form method="POST" action="{% url 'extract_links' %}">
                    {% csrf_token %}
                  <div class="row g-0">


                    <div class="col-12 col-md-10 col-lg-10">

                      <div class="input-url">

                        <img src="{% static 'images/url.png' %}"  alt="" class="icon">
                        <input class="enter-url" type="url" name='url1' placeholder="Enter Website URLs here" value={{given_url}}> 

                      </div>
                      <p>{{output}}
                      </p>
                    </div>
                    
                    <div class="col-12 col-md-2 col-lg 2">
                      <div class="submit">
                        <button class="submit-button" type="submit">Submit</button>


                      </div>
                    </div>
                  </div>



                  </form> 
                  <div class="row g-0">
                    <div class="col-12 col-md-6 col-lg-6">
                      <div class="keyword-wrap">
                        <div class="row">
                          <div class="col-12 col-md-10 col-lg-10">
                            <div class="keyword-title">
                              <P class="title">Keyword</P>
                            </div>
                          </div>
                          <div class="col-12 col-md-2 col-lg-2">
                            <div class="down">
                              <form>
                                <a href="{% url 'download_dataset' %}" class="download" download="dataset.csv">
                                  <img class="icon img-fluid" src="{% static 'images/down.png' %}" alt="">
                              </a>
                              
                              
                              </form>

                            </div>
                          </div>
                        </div>
                        <div class="table-wraper">
                          <table class="table table-hover">
                            <tr>
                              <th class="keyword">Keyword</th>
                              <th class="count">Count</th>
                            </tr>
                            {% for entry in keyword_list %}
                            <tr>
                                
                                <td class="key-data">{{ entry.Keyword }}</td>
                                <td class="count-data">{{ entry.Count }}</td>
                            </tr>
                            {% endfor %}
<!-- 
                            <tr>
                              <td class="key-data">data</td>
                              <td class="count-data">counts</td>
                            </tr>
                            <tr>
                              <td class="key-data">data</td>
                              <td class="count-data">counts</td>
                            </tr>
                            <tr>
                              <td class="key-data">data</td>
                              <td class="count-data">counts</td>
                            </tr>
                            <tr>
                              <td class="key-data">data</td>
                              <td class="count-data">counts</td>
                            </tr>
                            <tr>
                              <td class="key-data">data</td>
                              <td class="count-data">counts</td>
                            </tr>
                            <tr>
                              <td class="key-data">data</td>
                              <td class="count-data">counts</td>
                            </tr>
                            <tr>
                              <td class="key-data">data</td>
                              <td class="count-data">counts</td>
                            </tr>
                            <tr>
                              <td class="key-data">data</td>
                              <td class="count-data">counts</td>
                            </tr>
                            <tr>
                              <td class="key-data">data</td>
                              <td class="count-data">counts</td>
                            </tr>
                            <tr>
                              <td class="key-data">data</td>
                              <td class="count-data">counts</td>
                            </tr> -->
                          </table>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                      <div class="bar-chart">
                        <div class="barchart-title">
                          <h4 class="title">
                            Bar Chart
                          </h4>
                        </div>
                        <div class="chart">
                          <canvas id="wordcount-chart" height="40px" width="50px"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="word-cloud-wraper">                   
                    <div class="word-cloud">
                      <div class="row">
                        <div class="col 12 col-md-10 col-lg-10">
                          <div class="wordcloud-title">
                            <h4 class="title">
                              Word Cloud
                            </h4>
                          </div>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2">
                          <div class="download">
                            <button class="down">
                              <img src="{% static 'images/down.png' %}"  alt="" class="icon">
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="image">
                        <img class="cloud-image img-fluid" src="data:image/png;base64,{{ wordcloud_image }}" alt="">
                      </div>


                      <!-- pie chart -->
                      <!-- <div class="container">
                        <h1>pie chart</h1>
                        <div>
                          <canvas id="overview"></canvas>
                        </div>
                      </div> -->
                      


                      <!-- doughnut chart -->
                      <!-- <div class="donut-chart">
                        <h2>doughnut</h2>
                        <div class="chart">
                          <canvas class="my-chart"></canvas>
                        </div>
                      </div> -->
<!-- 
                      <div class="linechart">
                        <canvas class="line-chart"></canvas>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              

              
              <!-- Brand Personility Audit -->
              <div class="tab-pane fade" id="v-pills-brand" role="tabpanel" aria-labelledby="v-pills-brand-tab">
                <div class="row">
                  <div class="col-6 col-md-6 col-lg-6">
                    <h2 class="sentiment-title">
                      Brand Personality Audit
                    </h2>
                  </div>
                  <div class="col-6 col-md-6 col-lg-6">
                    <div class="user">
                      <img src="{% static 'images/user.png' %}" alt="" class="aveter">
                     </div>
                  </div>
                </div>
              </div>
              
              <!-- Setiment Analysis -->
              <div class="tab-pane fade" id="v-pills-sentiment" role="tabpanel" aria-labelledby="v-pills-sentiment-tab">
                <div class="sentiment">
                  <div class="row">
                    <div class="col-6 col-md-6 col-lg-6">
                      <h2 class="sentiment-title">
                        Youtube Analyzer
                      </h2>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                      <div class="user">
                        <img src="{% static 'images/user.png' %}" alt="" class="aveter">
                       </div>
                    </div>
                  </div>
                  <div class="social-media">
                    <div class="row g-0">
                      <div class="col-12 col-md-3 col-lg-3">
                        <div class="social">
                          <img src="{% static 'images/twiter.png' %}" alt=""><span><input type="text" placeholder="enter url"></span>
                        </div>
                      </div>
                      <div class="col-12 col-md-3 col-lg-3">
                        <div class="social">
                          <img src="{% static 'images/fb.png' %}" alt=""><span><input type="text" placeholder="enter url"></span>
                        </div>
                      </div>
                      <div class="col-12 col-md-3 col-lg-3">
                        <div class="social">
                          <img src="{% static 'images/insta.png' %}" alt=""><span><input type="text" placeholder="enter url"></span>
                        </div>
                      </div>
                      <div class="col-12 col-md-3 col-lg-3">
                        <div class="social">
                          <img src="{% static 'images/youtube.png' %}" alt=""><span><input type="text" placeholder="enter url"></span>
                        </div>
                      </div>
                    </div>
                    <div class="submit-button">
                      <button class="submit">
                        Submit
                      </button>
                    </div>
                    <div class="title-2">
                      <h5 class="range">
                        Select the date range                        
                      </h5>
                    </div>
                    <div class="row g-0">
                      <div class="col-12 col-md-5 col-lg-5">
                        <div class="charts">
                          <h5 class="title">
                            Sentiment
                          </h5>
                          <div class="row g-0">
                            <div class="col-12 col-md-6 col-lg-6">
                              <div class="pie-chart-1">
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                              <div class="pie-chart-2"></div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                              <div class="pie-chaer-3"></div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                              <div class="pie-chart-4"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-3 col-lg-3">
                        <div class="overol">
                          <h5 class="overol-title">
                            Overall Sentiment
                          </h5>
                        </div>
                      </div>
                      <div class="col-12 col-md-4 col-lg-4">
                        <div class="dataset">
                          <div class="row g-0">
                            <div class="col-12 col-md-6 col-lg-6">
                              <div class="title">
                                <h5 class="dataset-title">
                                  Dataset
                                </h5>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                              <div class="downlod">
                                <img src="{% static 'images/down.png' %}" alt="download">
                              </div>
                            </div>
                          </div>
                          <div class="social-wrap">
                            <div class="row g-0">
                              <div class="col-12 col-md-3 col-lg-3">
                                <div class="social-icon">
                                  <img src="{% static 'images/youtube.png' %}" alt="youtube">
                                </div>
                              </div>
                              <div class="col-12 col-md-3 col-lg-3">
                                <div class="social-icon">
                                  <img src="{% static 'images/insta.png' %}" alt="insta">
                                </div>
                              </div>
                              <div class="col-12 col-md-3 col-lg-3">
                                <div class="social-icon">
                                  <img src="{% static 'images/twiter.png' %}" alt="twiter">
                                </div>
                              </div>
                              <div class="col-12 col-md-3 col-lg-3">
                                <div class="social-icon">
                                  <img src="{% static 'images/fb.png' %}" alt="facebook">
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="table">
                            <table class="data">
                              <tr class="data-row border-1">
                                <th class="id">id</th>
                                <th class="user-name">User Name</th>
                                <th class="text">Text</th>
                              </tr>
                              <tr class="data-row">
                                <td>abc</td>
                                <td>abc</td>
                                <td>abc</td>
                              </tr>
                              <tr class="data-row">
                                <td>abc</td>
                                <td>abc</td>
                                <td>abc</td>
                              </tr>
                              <tr class="data-row">
                                <td>abc</td>
                                <td>abc</td>
                                <td>abc</td>
                              </tr>
                              <tr class="data-row">
                                <td>abc</td>
                                <td>abc</td>
                                <td>abc</td>
                              </tr>
                            </table>
                          </div>                          
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-6">
                      <div class="negetive-section">
                        <div class="negetive">
                          <h5 class="title">
                            Top Negative Comments
                          </h5>
                        </div>
                        <div class="negetive-data-wrap">
                          <div class="negetive-data">
                            <div class="row g-0">
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="aveter">
                                  <img src="{% static 'images/list-aveter.png' %}" alt="user">
                                </div>
                              </div>
                              <div class="col-12 col-md-8 col-lg-8">
                                <div class="text">
                                  <li class="user-name">User Name</li>
                                  <li class="comment">Comment</li>
                                </div>
                              </div>
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="social-icon">
                                  <img src="{% static 'images/youtube.png' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="negetive-data">
                            <div class="row g-0">
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="aveter">
                                  <img src="{% static 'images/list-aveter.png' %}" alt="user">
                                </div>
                              </div>
                              <div class="col-12 col-md-8 col-lg-8">
                                <div class="text">
                                  <li class="user-name">User Name</li>
                                  <li class="comment">Comment</li>
                                </div>
                              </div>
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="social-icon">
                                  <img src="{% static 'images/youtube.png' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="negetive-data">
                            <div class="row g-0">
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="aveter">
                                  <img src="{% static 'images/list-aveter.png' %}" alt="user">
                                </div>
                              </div>
                              <div class="col-12 col-md-8 col-lg-8">
                                <div class="text">
                                  <li class="user-name">User Name</li>
                                  <li class="comment">Comment</li>
                                </div>
                              </div>
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="social-icon">
                                  <img src="{% static 'images/youtube.png' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="negetive-data">
                            <div class="row g-0">
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="aveter">
                                  <img src="{% static 'images/list-aveter.png' %}" alt="user">
                                </div>
                              </div>
                              <div class="col-12 col-md-8 col-lg-8">
                                <div class="text">
                                  <li class="user-name">User Name</li>
                                  <li class="comment">Comment</li>
                                </div>
                              </div>
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="social-icon">
                                  <img src="{% static 'images/youtube.png' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                      <div class="positive-section">
                        <div class="positive">
                          <h5 class="title">
                            Top Positive Comments
                          </h5>
                        </div>
                        <div class="positive-data-wrap">
                          <div class="positive-data">
                            <div class="row g-0">
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="aveter">
                                  <img src="{% static 'images/list-aveter.png' %}" alt="user">
                                </div>
                              </div>
                              <div class="col-12 col-md-8 col-lg-8">
                                <div class="text">
                                  <li class="user-name">User Name</li>
                                  <li class="comment">Comment</li>
                                </div>
                              </div>
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="social-icon">
                                  <img src="{% static 'images/youtube.png' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="positive-data">
                            <div class="row g-0">
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="aveter">
                                  <img src="{% static 'images/list-aveter.png' %}" alt="user">
                                </div>
                              </div>
                              <div class="col-12 col-md-8 col-lg-8">
                                <div class="text">
                                  <li class="user-name">User Name</li>
                                  <li class="comment">Comment</li>
                                </div>
                              </div>
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="social-icon">
                                  <img src="{% static 'images/youtube.png' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="positive-data">
                            <div class="row g-0">
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="aveter">
                                  <img src="{% static 'images/list-aveter.png' %}" alt="user">
                                </div>
                              </div>
                              <div class="col-12 col-md-8 col-lg-8">
                                <div class="text">
                                  <li class="user-name">User Name</li>
                                  <li class="comment">Comment</li>
                                </div>
                              </div>
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="social-icon">
                                  <img src="{% static 'images/youtube.png' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="positive-data">
                            <div class="row g-0">
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="aveter">
                                  <img src="{% static 'images/list-aveter.png' %}" alt="user">
                                </div>
                              </div>
                              <div class="col-12 col-md-8 col-lg-8">
                                <div class="text">
                                  <li class="user-name">User Name</li>
                                  <li class="comment">Comment</li>
                                </div>
                              </div>
                              <div class="col-12 col-md-2 col-lg-2">
                                <div class="social-icon">
                                  <img src="{% static 'images/youtube.png' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
              
              <!-- Profile Analyzer -->
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="row">
                  <div class="col-6 col-md-6 col-lg-6">
                    <h2 class="sentiment-title">
                      Profile Analyzer
                    </h2>
                  </div>
                  <div class="col-6 col-md-6 col-lg-6">
                    <div class="user">
                      <img src="{% static 'images/user.png' %}" alt="" class="aveter">
                     </div>
                  </div>
                </div>
              </div>
              
              <!-- Brand Authority -->
              <div class="tab-pane fade" id="v-pills-authority" role="tabpanel" aria-labelledby="v-pills-authority-tab">
                <div class="row">
                  <div class="col-6 col-md-6 col-lg-6">
                    <h2 class="sentiment-title">
                      Brand Authority
                    </h2>
                  </div>
                  <div class="col-6 col-md-6 col-lg-6">
                    <div class="user">
                      <img src="{% static 'images/user.png' %}" alt="" class="aveter">
                     </div>
                  </div>
                </div>
              </div>

            </div>
        </div>

    </main>

    <footer class="footer-wrap py-3">
      <div class="container">
        <p class="copyright-text text-center mb-0">
          © 2023 M-Suite All rights reserved.
        </p>
      </div>
    </footer>

    <!-- Scripts -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="chart.min.js"></script>


    <!-- pie chart -->
    <!-- <script>
      new Chart(document.getElementById('overview'),{
        type: 'pie',
        data: {
          labels : ['html', 'css', 'javascript', 'php', 'mySql'],
          datasets: [{
            backgroundColor: ["#e63946", "#254BDD", "#ffbe0b", "#1d3557", "#326998"],
            data: [418, 263, 434, 586, 332]
          }]
        },
        options: {
          title: {
            display : true,
            text: 'Pie Chart for admin panal'
          },
          responsive : true
        }
      })
    </script> -->

    <!-- donut chart -->
    <!-- <script>
      const chartData = {
        labels: ["python", "java", "javascript", "c#", "others"],
        data: [30, 40, 10, 7, 36]
      };

      const myChart = document.querySelector(".my-chart");

      new Chart(myChart,{
        type: "doughnut",
        data: {
          labels: chartData.labels,
          datasets: [
            {
              label: "languages",
              data: chartData.data,
            },
          ],
        },
        options: {
          borderWidth: 10,
          borderRadius: 2,
          hoverBorderWidth: 5,
          Plugins: {
            legend: {
              display: false,
            },
          },
        }
      });
    </script> -->

    <!-- line chart -->
    <!-- <script>
      const chartData = {
        labels: ["python", "java", "javascript", "c#", "others"],
        data: [30, 40, 10, 7, 36]
      };

      const myChart = document.querySelector(".line-chart");

      new Chart(myChart,{
        type: "line",
        data: {
          labels: chartData.labels,
          datasets: [
            {
              label: "languages", 
              data: chartData.data,
            },
          ],
        },
        options: {
          borderWidth: 10,
          borderRadius: 2,
          hoverBorderWidth: 5,
          Plugins: {
            legend: {
              display: false,
            },
          },
        }
      });
    </script> -->

<!-- Website Barchart -->
<script>
  const ctx = document.getElementById('wordcount-chart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for entry in keyword_list_bar %}"{{ entry.Keyword }}",{% endfor %}],
      datasets: [{
        label: 'Number of Wordcount',
        data: [{% for entry in keyword_list_bar %}{{ entry.Count }},{% endfor %}],
        backgroundColor: '#a9218d',
        barThickness: 25,
        borderWidth: 2        
      }]
    },
    options: {
      indexAxis: 'y',
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
    layout: {
        padding: {
          top: 50, // Adjust the top padding to set the height of the plot area
          bottom: 20, // Adjust the bottom padding if needed
        }
      },
      maintainAspectRatio: false,
      barPercentage: 6,
      categoryPercentage: 1,
    });
</script>
    <!-- External -->
    <script  src="{% static 'js/scripts-min.js' %}"></script>
  </body>
</html>
